body {
    background-image: linear-gradient(rgb(52, 49, 61) 95%, #b7e9c1);
    /* background: linear-gradient(to bottom, #34313d, #b7e9c1); */
    width: auto;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, nav, p {
    font-family: Cambria;
    color: white;
    text-align: center;
}

.bold_text {
    font-weight: Bold;
}

.introduction {
    font-family: Cambria;
    color: white;
}

.images {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 20%;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding-top: 1%;
}

div {
    width: 40%;
    margin: auto;
}

footer {
    text-align: center;
    padding-top: 10%;
}

/*URL LINKS*/
a {
    color: grey;
    text-decoration: none;
}
a:hover {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

