body {
    background-color: rgb(52, 49, 61);
    font-family: sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, nav, p {
    font-family: Cambria;
    color: white;
    text-align: center;
}

.bold_text {
    font-weight: Bold;
}

.introduction {
    font-family: Cambria;
    color: white;
}

.images {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 20%;
    padding-bottom: 1%;
    text-align: center;
    font-style: italic;
}

div {
    width: 40%;
    margin: auto;
}

footer {
    text-align: center;
    padding-top: 10%;
}

/*URL LINKS*/
a:hover {
    color: pink;
}

