body {
    /* background-color: #373839; */
    background-color: #212529;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    position: relative;
    min-height: 100vh;
    padding-bottom: 11%;
}

.about-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid black; */
    width: 70%;
    margin: 0 auto;
    /* padding-top: 4%; */
}

.about-text-box {
    /* border: 2px solid black; */
    
    width: 65%;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.about-img-box {
    /* border: 2px solid black; */
    width: 450px;
    text-align: center;
    font-style: italic;
}

/* headshot img */
img {
    width: 450px;
    height: auto;
    border-radius: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    
}

figcaption {
    padding-top: 1%;
}

h4 {
    color: #a4ac96;
    padding: 0;
    margin: 0;
    font-size: 20px;
    /* margin: 0; */
}

h3 {
    font-size: 24px;
    /* border: 2px solid red; */
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    padding-top: 1%;
    color: #a4ac96;
    margin-bottom: 0;
    font-size: 30px;
    
    /* margin: 0; */
}

.line {
    border-bottom: 3px solid #a4ac96;
    max-width: 80px;
    margin: 0 auto;
  }

.button {
    border-radius: 5px;
    background-color: #a4ac96;
    color: black;
    padding: 7px;
    text-decoration: none;
    transition: background-color 200ms linear;
}

.button:hover {
    background-color: white;
    color: black;
}