body {
    background-color: #212529;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    position: relative;
    min-height: 100vh;
}

h2 {
    text-align: center;
    padding-top: 1%;
    color: #a4ac96;
    margin-bottom: 0;
    font-size: 30px;
}

.line {
    border-bottom: 4px solid #a4ac96;
    max-width: 12rem;
    margin: 0 auto;
  }
   

.contact-text-box {
    background-color: #5A5C5F;
    border-radius: 6px;
    padding: 5px;
}

.contact-box {
    width: 50%;
    margin: 0 auto;
    padding-top: 1%;
}

img {
    width: 70px;
}

.contact-links a {
    background-color: #a4ac96;
    padding: 8px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: background-color 200ms linear;
}

.contact-links a {
    background-color: #373839;
}

.contact-links {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}