body {
  background-color: #373839;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html {
  margin: 0;
  height: 100%;
}

/* background and fade */
#background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-fader {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.homepage-content,
#picture-info,
.navbar {
  z-index: 1;
}

.button {
  border-radius: 5px;
  background-color: #a4ac96;
  color: black;
  padding: 7px;
  text-decoration: none;
  transition: background-color 200ms linear;
}

.homepage-content {
  position: relative;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 25px;
  z-index: 1;
}

#picture-info {
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homepage-text-container {
  margin: 0 auto;
}

h2 {
  font-weight: normal;
}

.button:hover {
  background-color: white;
  color: black;
}

