 .header-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: white;
    margin: 0;
  }

 .line-2 {
    border-bottom: 3px solid #a4ac96;
    max-width: 500px;
    margin: 0 auto;
  }

  li:nth-of-type(1){
    margin-right: 400px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
    flex: 1;
  }

  li {
    float: none;
    font-size: 20px;
  }

  li a {
    display: block;
    color: white;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    text-align: center;

    transition: background-color 200ms linear;
    border-radius: 3px;
  }

  a:hover {
    background-color: #a4ac96;
    color: black;
    
  }

  .active {
    color: #a4ac96;
  }

  /* @media (max-width: 768px){
    .header-container li{
      font-size: .8rem;
      margin:0;
      width: 20vw;
    }

    .logo {
      display: none;
    }
  } */


 

 



