body {
    background-color: #212529;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    position: relative;
    min-height: 100vh;
    padding-bottom: 11%;
}

h2 {
    text-align: center;
    padding-top: 1%;
    color: #a4ac96;
    font-size: 30px;
    margin-bottom: 0;
}

.line {
  border-bottom: 4px solid #a4ac96;
  max-width: 10rem;
  margin: 0 auto;
}

.slideshow-box {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    width: 100%;
  

  }
  
  .slides {
    display: none;
  }

  img {
    border-radius: 2%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    display: block;
    margin: 0 auto;
  }

  figcaption {
    text-align: center;
    padding-top: 1%;
  }

  .slides-text {
    display: none;
    max-width: 60%;
    margin: 0 auto;
  }


  .slides-text ul{
    display: block;
    list-style: disc;
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 90%;
    
  }
  
  .slides-text ul li{
    all: unset;
    display: list-item;

    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
  }

  .slides-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
  }



  h4 {
    color: #a4ac96;
    font-size: 18px;
  }
  

  .buttons {
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .previous, .next {
    background-color: #a4ac96;
    border-radius: 5px;
    color: black;
    padding: 1%;
    transition: background-color 200ms linear;
  }


  .next {
    right: 0;
  }

  .next:hover, .previous:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  /* Fade in animation */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }