body {
    background-color: #212529;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    position: relative;
    min-height: 100vh;
    padding-bottom: 6%;
}

h2 {
    text-align: center;
    padding-top: 1%;
    color: #a4ac96;
    margin-bottom: 0;
    font-size: 30px;
    /* margin: 0 auto; */
    
}

.line {
    border-bottom: 4px solid #a4ac96;
    max-width: 12rem;
    margin: 0 auto;
  }

  .testimonies-box {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    gap: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 2%;
    color: black;

  }

  .testimonies {
    background-color: #9E90A2;
    border-radius: 5%;
    display: flex;
 justify-items: center;
    align-items: center;
    font-style: italic;
  }

  .testimonies:nth-child(2) {
    background-color: #4D7EA8;
  }

  img {
    width: 100px;
  }

  figcaption {
    text-align: center;
    font-weight: bold;
  }

  figure {
    width: 100px;
  }
