<link rel="stylesheet" href="../project/styles/navbar.css" />
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />

  <!-- put header in here only link div-->

<header class="header-container">
  
  <!-- <nav>
        <a href="../project/index.html">Homepage</a>
        <a href="../project/about.html">About Me</a>
        <a href="../project/projects.html">My Projects</a>
        <a href="../project/testimonies.html">Testimonies</a>
        <a href="../project/services.html">Services</a>
        <a href="../project/contact.html">Contact Me</a>
    </nav> -->

  <nav>
    <ul>
      <li><h1 class="logo">Robert Barkman</h1></li>
      <li><a id="homepage" href="index.html">Homepage</a></li>
      <li><a id="about" href="about.html">About Me</a></li>
      <li><a href="projects.html">My Projects</a></li>
      <li><a href="testimonies.html">Testimonies</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="contact.html">Contact Me</a></li>
    </ul>
  </nav>
</header>

<script src="../project/scripts/navbar.js"></script>
