<section id="footer-container">
  <nav>
    <a target="_blank" href="https://webpages.charlotte.edu/ecarterb/"
      >CLT Website</a
    >
    | <a href="https://github.com/621Matt">Github</a> |
    <a href="https://github.com/621Matt/621Matt.github.io">Github.io Page</a> |
    <a href="https://www.freecodecamp.org/Eric_CB_01">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/Eric_CB_01">CodeAcademy</a> |
    <a href="https://www.linkedin.com/in/ericcarterbarkman/">LinkedIn</a>
  </nav>
  <p>
    Designed by
    <a href="ericwebenterprises.com/index.html">Eric Web Enterprises</a> © 2025,
    <em
      >Certified in
      <a
        href="https://www.freecodecamp.org/certification/Eric_CB_01/responsive-web-design"
        >Responsive Web Design</a
      >.</em
    >
  </p>
</section>
