<section class="header-container">
  <h1>Eric Carter-Barkman's Express Camel | ITIS 3135 | Course Page</h1>
  <nav>
    <a href="./">Home</a> | <a href="introduction.html">Introduction</a> |
    <a href="contract.html">Contract</a>
  </nav>
  <hr />
  <nav>
    <a href="expresscamel/index.html">Express Camel Page</a> |
    <a href="website_evaluations.html">Website Evaluations</a> |
    <a href="tables.html">Whimsical Company</a> |
    <a href="stuff/1N DEX.htm">Crappy Webpage</a> |
    <a href="hobby/index.html#what">Hobby Site</a> |
    <a href="project_overview.html">Project Overview</a> |
    <a href="byo_intro.html">BYO Introduction Page</a>
  </nav>
</section>
